/* Write your CSS here */
.not-found-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: bree serif;
  color: #ffffff;
}

@media (min-width: 768px) {
  .not-found-page {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
